body {
  background-color: aqua;
}

h1, h2, h3, h4, h5, h6 {
  color: red;
  text-decoration: underline;
}

dt {
  font-weight: bold;
}

header {
  grid-area: header;
}

#content {
  grid-area: content;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

#wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header" "nav" "content" "footer";
}

@media (min-width: 700px) {
  #wrapper {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "header header" "nav content" "footer footer"
  }

  nav ul {
    flex-direction: column;
  }
}

#angebot,
#standorte,
#team,
#minecraft {
  display: none;
}

.nav-item {
  cursor: pointer;
}

.nav-item.active {
  font-weight: bold;
}

.nav-item.active::before {
  content: url(/gif/dancing-blue-arrow-slow.gif);
  padding-right: 0.2rem;
}
